@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-indigo, 500);
$accent:  mat-palette($mat-indigo, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

$icon-small-container-size: 32px;
$icon-small-size: 20px;

.mat-icon-button.small {
  width: $icon-small-container-size;
  height: $icon-small-container-size;
  line-height: $icon-small-container-size;

  .mat-icon, .mat-icon-button i {
    line-height: $icon-small-size;
  }

  .mat-icon {
    width: $icon-small-size;
    height: $icon-small-size;
  }

  .material-icons {
    font-size: $icon-small-size;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 10px;
  padding-right: 2px;
}

mat-cell {
  padding-right: 15px;
}

mat-header-cell {
  max-width: -webkit-fill-available;
  padding-right: 15px;
}
