<div class="app-users container">
  <div class="head-crud">
      <div fxLayout="column" fxLayoutAlign="start" fxFlex="50">
        <h3>CRUD USERS</h3>
      </div>
      <div fxLayout="column" fxLayoutAlign="center end" fxFlex="50">
        <button mat-icon-button matTooltip="Logout" matTooltipPosition='above' color="primary" class="small" (click)="logout()"><mat-icon>power_settings_new</mat-icon></button>
      </div>
  </div>

  <div class="filter-crud" *ngIf="dataUser.length !== 0;">
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex="100" matTooltip="Eg: First Name + Last Name" matTooltipPosition='above'>
        <input matInput (keyup)="applyFilterUser($event.target.value)"  placeholder="Filter">
        <mat-hint>Eg: First Name + Last Name</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div  *ngIf="dataUser.length === 0; then thenNotTableUser else elseTableUser"> </div>


  <ng-template #thenNotTableUser>
    <div class="spinner-data" *ngIf="dataSource">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" class="spinner-container" >
          <mat-spinner></mat-spinner>
      </div>
    </div>
    <div class="not-data" *ngIf="!dataSource">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
        Not data available
      </div>
    </div>
  </ng-template>

  <ng-template  #elseTableUser>

      <mat-table [dataSource]="dataSource" matSort >
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" ></mat-row>

          <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let users">
              <span *ngIf="!isShowInput(users);" > {{users.first_name}} </span>
              <mat-form-field fxFlex="100" *ngIf="isShowInput(users);" >
                <input matInput  placeholder="First Name" [(ngModel)]="users.first_name" minlength="3" required #firstnameField="ngModel">
                <mat-error *ngIf="firstnameField.errors && users.first_name">First Name must be at least 3 characters long.</mat-error>
                <mat-error *ngIf="firstnameField.errors && !users.first_name"> First Name required </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="last_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let users">
              <span  *ngIf="!isShowInput(users);"> {{users.last_name}} </span>
              <mat-form-field fxFlex="100" *ngIf="isShowInput(users);">
                <input matInput  placeholder="Last Name" [(ngModel)]="users.last_name" minlength="3" required #lastnameField="ngModel" >
                <mat-error *ngIf="lastnameField.errors && users.last_name">Last Name must be at least 3 characters long.</mat-error>
                <mat-error *ngIf="lastnameField.errors && !users.last_name"> Last Name required </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let users">
              <span *ngIf="!isShowInput(users);"> {{users.email}} </span>
              <mat-form-field fxFlex="100" *ngIf="isShowInput(users);">
                <input  type="email"  matInput  placeholder="Email"   [pattern]="pattern" [(ngModel)]="users.email" required #emailField="ngModel">
                <mat-error *ngIf="emailField.errors && users.email">Email is invalid .</mat-error>
                <mat-error *ngIf="emailField.errors && !users.email">Email Name required </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
            <mat-cell *matCellDef="let users">
              <span *ngIf="!isShowInput(users);"> {{users.gender}} </span>
              <mat-form-field fxFlex="100" *ngIf="isShowInput(users);">
                <mat-select placeholder="Gender"  [(ngModel)]="users.gender" required #genderField="ngModel">
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="genderField.errors">Gender is required.</mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
              <mat-cell *matCellDef="let users">
                <span *ngIf="!isShowInput(users);"> {{users.address}} </span>
                <mat-form-field fxFlex="100" *ngIf="isShowInput(users);"  >
                  <input  matInput  placeholder="address" [(ngModel)]="users.address" minlength="8" required #lastnameField="ngModel">
                  <mat-error *ngIf="lastnameField.errors && users.address">Address must be at least 3 characters long.</mat-error>
                  <mat-error *ngIf="lastnameField.errors && !users.address">Address Name required </mat-error>
                </mat-form-field>
              </mat-cell>
            </ng-container>
          <ng-container matColumnDef="enabled">
            <mat-header-cell *matHeaderCellDef>Enabled</mat-header-cell>
            <mat-cell *matCellDef="let users">
              <button *ngIf="!isEnabledUser(users);" matTooltip="Change Enabled" matTooltipPosition='above' (click)="changeEnabledUser(users, true)" mat-icon-button class="small button-off">off <mat-icon>toggle_off</mat-icon></button>
              <button *ngIf="isEnabledUser(users);"  matTooltip="Change Enabled" matTooltipPosition='above' (click)="changeEnabledUser(users, false)" mat-icon-button  class="small button-on"> on <mat-icon>toggle_on</mat-icon></button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action" >
            <mat-header-cell *matHeaderCellDef [ngClass]="'addUser'">
              <button mat-icon-button matTooltip="Add User" matTooltipPosition='above' color="primary" class="small" (click)="addUser()"><mat-icon>person_add</mat-icon></button>
            </mat-header-cell>
            <mat-cell *matCellDef="let users"  [ngClass]="'rowTrash'">
              <button *ngIf="!isShowInput(users);" mat-icon-button  matTooltip="Delete User" matTooltipPosition='above' color="primary" class="small" (click)="deleteUser(users)" ><mat-icon>delete_forever</mat-icon></button>
              <button *ngIf="!isShowInput(users);" mat-icon-button  matTooltip="View User" matTooltipPosition='above' color="primary" class="small" (click)="openViewUser(users)" ><mat-icon>visibility</mat-icon></button>
              <button *ngIf="!isShowInput(users);" mat-icon-button  matTooltip="Edit User" matTooltipPosition='above' color="primary" class="small" (click)="editUser(users)" ><mat-icon>edit</mat-icon></button>
              <button *ngIf="isShowInput(users);" mat-icon-button  matTooltip="Save User" matTooltipPosition='above' color="primary" (click)="saveUser(users)" [ngClass]="checkVerification(users)" class="small"><mat-icon>save</mat-icon></button>
              <button *ngIf="isShowInput(users);" mat-icon-button  matTooltip="Clear User" matTooltipPosition='above' color="primary" (click)="clearUser(users)"  class="small"><mat-icon>clear</mat-icon></button>
            </mat-cell>
          </ng-container>

      </mat-table>

  </ng-template>
</div>
