.app-users {
  margin: 40px;
	font-family: sans-serif;
	.head-crud {
		background: rgba(0, 0, 0, 0.06);
		border-radius: 5px;
		padding: 15px;
	}
	.filter-crud {
		padding: 15px;
	}
  .mat-table {
		width: 100%;
		height: 100%;
	}
  .mat-row:hover {
	  background-color: #fafafa;
	  .mat-cell {
	  	background-color: #fafafa;
    }
  }
  .not-data{
    margin: 15px;
  }
  .button-on {
    color: red;
  }
  .button-on svg {
    fill: red;
  }
  .button-off {
    color: green;
  }
  .button-off svg {
    fill: green;
  }
  .disabled-save {
    color: gray;
  }
  .disabled-save svg {
    color: gray;
  }
  .spinner-data {
    margin: 10%;
  }
  span {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }
}

