.users {
  margin: 40px;
	font-family: sans-serif;
	.head-crud {
		background: rgba(0, 0, 0, 0.06);
		border-radius: 5px;
		padding: 15px;
	}
  .mat-table {
		width: 100%;
		height: 100%;
	}
  .mat-row:hover {
		cursor:pointer;
	  background-color: #fafafa;
	  .mat-cell {
	  	background-color: #fafafa;
    }
  }
}