.app-login {
  margin: 10%;
  form{
    padding: 25px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
  }
  .username, .password, .login {
    margin-bottom: 10px;
  }
}
